html(ng-app="moltenpad")
  head
    title #{title}
    meta(charset="utf-8")
    <!-- vendors -->
    script(src="./bower_components/jquery/jquery.min.js")
    script(src="./bower_components/angular/angular.min.js")
    script(src="./bower_components/semantic/build/packaged/javascript/semantic.min.js")
    link(rel="stylesheet" href="./bower_components/semantic/build/packaged/css/semantic.min.css")
    link(rel="stylesheet" href="./bower_components/codemirror/lib/codemirror.css")
    link(rel="stylesheet" href="./bower_components/firepad/dist/firepad.css")
    script(src="./bower_components/angular-cookies/angular-cookies.min.js")
    script(src="./bower_components/angularLocalStorage/src/angularLocalStorage.js")
    script(src="./bower_components/firebase/firebase.js")
    script(src="./bower_components/codemirror/lib/codemirror.js")
    script(src="./bower_components/firepad/dist/firepad.js")
    <!-- molten -->
    script(src="./javascript/moltenpad.js")
    <!-- custom styles -->
    link(rel="stylesheet" href="./stylesheets/screen.css" media="screen, projection" type="text/css")
    link(rel="stylesheet" href="./stylesheets/print.css" media="print" type="text/css")
    <!--[if IE]>
    link(rel="stylesheet" href="./stylesheets/ie.css" media="screen, projection" type="text/css")
    <![endif]-->
  body(ng-controller="moltenCtrl")
    .ui.grid
      .three.wide.column
        .side
          mp-progress-bar
          !{ menu }
          p
            | Powered by 
            a(href="http://github.com/poga/moltenpad") moltenpad
            | .
          p
            a(href="https://twitter.com/share" class="twitter-share-button" data-size="large") Tweet
      .eight.wide.column
        .content
          !{ content }
      .five.wide.column.rightColumn
        .pad
          #firepad
    script.
      var firepadRef = new Firebase("#{firepadRef}");
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true});

      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, { richTextToolbar: false, richTextShortcuts: false });
      firepad.on('ready', function () {
        if (firepad.isHistoryEmpty()) {
          firepad.setHtml('這裡可以留言喔 <3')
        }
      });

    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

